{% extends 'base.html' %}
{% load i18n %}
{% from 'macros.html' import no_results %}

{% block add_to_head %}
    <link href="{% static 'video-js/video-js.css' %}" rel="stylesheet">
    <script src="{% static 'video-js/video.dev.js' %}"></script>
    <script>
        videojs.options.flash.swf = "{% static 'video-js/video-js.swf' %}"
    </script>
{% endblock %}

{% block main_panel_name %}
    {{ series.name }}
{% endblock %}

{% block content %}
    <div>
        <div>
            <video id="video_container" width="870" height="490" poster="{{ object.preview.url }}" class="video-js vjs-default-skin vjs-big-play-centered"
                   data-setup='{"example_option":true}' controls preload="auto">
                <source src="{# {{ object.source.url }} #}http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4;"'/>
                {% for subtitle in object.subtitles.all() %}
                    <track kind="subtitles" src="{{ subtitle.source.url }}" srclang="{{ subtitle.language }}" label="{{ subtitle.get_language_display() }}">
                {% endfor %}
                <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web
                    browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5
                        video</a></p>
            </video>
        </div>
    </div>

{% endblock %}