{% extends 'base.html' %}
{% load i18n %}
{% from 'macros.html' import render_form %}

{% block add_to_head %}

    <script src="{{ STATIC_URL }}fineuploader/s3.jquery.fineuploader-5.0.4.js"></script>
    <link href="{{ STATIC_URL }}fineuploader/fineuploader-5.0.4.min.css" media="screen" rel="stylesheet" type="text/css"/>
    {% include 'uploader.html' %}
{% endblock %}

{% block main_panel_name %}
    {% trans %}Загрузка сериала{% endtrans %}
{% endblock %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        {{ subtitle_formset.management_form|safe }}
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        {% if form.errors or subtitle_formset.errors %}
            <div class="alert alert-danger">{% trans %}Пожалуйста, исправьте ошибки ниже.{% endtrans %}</div>
        {% endif %}
        <table class="table_for_form">
            <tbody>
            <tr>
                <td></td>
                <script type="text/javascript">
                    uploader('#upload_video');
                </script>
            </tr>
            {% for field in form %}
                <tr>
                    <td>
                        <label for="{{ field.auto_id }}">{{ field.label }}: </label>

                    </td>
                    <td{% if field.errors %} class="has-error"{% endif %}>
                        {{ field|safe }}
                    {% if field.is_hidden %}
                        <div id="upload_{{ field.auto_id }}" data-iid="#{{ field.auto_id }}"></div>
                        <script type="text/javascript">
                            uploader('#upload_{{ field.auto_id }}');
                        </script>
                    {% endif %}
                    </td>

                    {% if field.errors %}
                        <td class="text-danger">{{ field.errors.0 }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            <tr>
                <td><h3>Субтитры</h3></td>
            </tr>
            {% for subtitle_form in subtitle_formset %}
                <tr>
                    <td>
                        <label for="{{ subtitle_form.source.auto_id }}">{{ subtitle_form.source.label }}: </label>

                    </td>
                    <td>
                        {{ subtitle_form.source|safe }}
                        <div id="upload_{{ subtitle_form.source.auto_id }}" data-iid="#{{ subtitle_form.source.auto_id }}"></div>
                        <script type="text/javascript">
                            uploader('#upload_{{ subtitle_form.source.auto_id }}');
                        </script>
                    </td>

                    {% if subtitle_form.source.errors %}
                        <td class="text-danger">{{ subtitle_form.source.errors.0 }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td>
                        <label for="{{ subtitle_form.language.auto_id }}">{{ subtitle_form.language.label }}: </label>

                    </td>
                    <td>
                        {{ subtitle_form.language|safe }}
                    </td>
                    {% if subtitle_form.language.errors %}
                        <td class="text-danger">{{ subtitle_form.language.errors.0 }}</td>
                    {% endif %}
                </tr>
            {% endfor %}


            <tr>
                <td>
                    <input type="submit" value="{% trans %}Отправить{% endtrans %}" class="btn btn-default">
                </td>
            </tr>
            </tbody>
        </table>
    </form>

{% endblock %}