{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <div class="panel-heading"><h3>{% trans %}Вход на сайт{% endtrans %}</h3></div>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
        <table class="table_for_form">
            <tbody>
            <tr>
                <td>
                    <label for="username">{% trans %}Имя пользователя{% endtrans %}: </label>
                </td>
                <td>
                    <input type="text" class="form-control" id="username" placeholder="{% trans %}Имя пользователя{% endtrans %}"
                           name="username">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="password">{% trans %}Пароль{% endtrans %}: </label>
                </td>
                <td>
                    <input type="password" class="form-control" id="password" name="password">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="remember_me">{% trans %}Запомнить меня{% endtrans %}: </label>
                </td>
                <td>
                    <input type="checkbox" class="form-control" id="remember_me" name="remember_me">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="{% trans %}Войти{% endtrans %}" class="btn btn-default">
                </td>
            </tr>
            </tbody>
        </table>
    </form>

{% endblock %}