<div class="panel-heading">
    {% trans %}Личный кабинет{% endtrans %}
</div>
<div class="panel-body">
    {% if user.is_authenticated() %}
        <div>{{ user.username }}</div>
        <div><a href="{% url 'episode_create' %}">{% trans %}Загрузить{% endtrans %}</a></div>
        <div><a href="{% url 'logout' %}">{% trans %}Выход{% endtrans %}</a></div>
    {% else %}
        <div><a href="{% url 'registration' %}">{% trans %}Зарегистрироваться{% endtrans %}</a></div>
        <div><a href="{% url 'login' %}">{% trans %}Войти{% endtrans %}</a></div>
    {% endif %}

</div>