.main-content{
    margin: 0 10px 0 10px;
    width:67%;
    float: left;
}

.left-content{
   float: left;
    margin-left: 10px;
    width: 15%;
}

.right-content {
    float: right;
    margin-right: 10px;
    width: 15%;
}

.table_for_form td{
    padding: 5px 10px 0 5px;
}

.language{
    padding: 1px 0 0 5px !important;
    margin: 0 0 0 0;
}