#controls span {
    display: inline-block;
    margin-top: 2px;
}
#controls{
    position: relative;
    top: -40px;
    background-color: #fff;
    height: 32px;
    border-radius: 10px;
}
#playpause {
    background: #eee;
    color: #333;
    padding: 0 5px;
    font-size: 12pt;
    text-transform: uppercase;
    width: 50px;
    cursor: default;
    margin-left: 10px;
}

#progress {
    width: 680px;
}

#total {
    width: 100%;
    background: #999;
}

#buffered {
    background: #ccc;
}

#current {
    background: #eee;
}

#time {
    color: #999;
    font-size: 12pt;
}
#dynamic {
    fill: #333;
    padding: 0 5px;
}

#dynamic.off {
    fill: #ccc;
}